<p id="notice"><%= notice %></p>

<%= link_to 'New Thought record', new_thought_record_path %>


<% if user_signed_in? %>
  <h1><%= current_user.Name %>'s Thought Records</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Date - Time</th>
      <th>Situation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thought_records.reverse.each do |thought_record| %>
      <tr>
        <td><<%= thought_record.updated_at %></td>
        <td><%= thought_record.CurrentSituation %></td>
        <td><%= link_to 'Show', activity_log_thought_record_path(thought_record.ActivityLog, thought_record) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if params[:activity_log_id] && @thought_records.length > 0 %>
  <%= link_to 'New Thought record', new_activity_log_thought_record_path(@thought_records[0].ActivityLog) %>
<% end %>
