<p id="notice"><%= notice %></p>

<p>
  <strong>Current Situation:</strong><br>
  <%= @thought_record.CurrentSituation %>
</p>

<p>
  <strong>Emotions:</strong><br>
  <%= @thought_record.Emotions %>
</p>

<p>
  <strong>Automatic Thoughts:</strong><br>
  <%= @thought_record.AutoThoughts %>
</p>

<p>
  <strong>Alternative Response:</strong><br>
  <%= @thought_record.AltResponse %>
</p>

<p>
  <strong>Outcome:</strong><br>
  <%= @thought_record.Outcome %>
</p>

<%= link_to 'Edit', edit_activity_log_thought_record_path(@thought_record.ActivityLog, @thought_record) %> |
<%= link_to 'Back', activity_log_thought_records_path(@thought_record.ActivityLog) %>
