<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <h1><%= current_user.Name %>'s Activity Logs</h1>
<% end %>

<%= form_tag(update_many_activity_logs_path, method: "post") do |f| %>
<% if ActivityLog.where(:LogDate => 2.days.ago.strftime("%Y-%m-%d")).exists? %>
<%  %>
 <table class='show-for-large-up'>
   <caption>2 days ago</caption>
   <thead>
     <tr>
       <th>Log Window</th>
       <th>Activity</th>
       <th>Mood Rating</th>
       <th>Thought Record?</th>
     </tr>
   </thead>
 </table>
 <% end %>

 <% if ActivityLog.where(:LogDate => 1.days.ago.strftime("%Y-%m-%d")).exists? %>
 <%  %>
  <table class='show-for-medium-up'>
    <caption>Yesterday</caption>
    <thead>
      <tr>
        <th>Log Window</th>
        <th>Activity</th>
        <th>Mood Rating</th>
        <th>Thought Record?</th>
      </tr>
    </thead>
  </table>
  <% end %>

  <table class='show-for-small-up'>
    <caption><%= Date.today.to_s %></caption>
    <thead>
      <tr>
        <th>Log Window</th>
        <th>Activity</th>
        <th>Mood Rating</th>
        <th>Thought Record?</th>
      </tr>
    </thead>

    <tbody>
      <% i = 0 %>
      <% @activity_logs.where(:LogDate => Date.today.to_s).each do |a_log| %>
        <% i +=1 %>
        <tr>
          <td><%= a_log.LogWindow%><</td>
          <td><%= a_log.CurrentActivity %></td>
          <td><%= a_log.CurrentMood %></td>
          <td>
            <% if ThoughtRecord.where(:ActivityLog => a_log).exists? %>
                <%= link_to 'Show', activity_log_thought_record_path(a_log, ThoughtRecord.where(:ActivityLog => a_log).first) %>
            <% else %>
                <%= link_to 'New', new_activity_log_thought_record_path(a_log) %>
            <% end %>
          </td>
        </tr>

      <% end %>

      <% for j in (current_user.NormalWake + i)..(current_user.NormalSleep + 11) %>
          <tr>
            <td>
              <% j = j - 12 if j > 12 %>
              <% window = "#{j}:00 - #{j+1}:00" %>
              <%= window %>
            </td>
            <td><%= text_area_tag(("current_activity-" + i.to_s).to_sym) %></td>
            <td><%= number_field_tag(("current_mood-" + i.to_s).to_sym) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <%= submit_tag("Save") %>
<% end %>
<br>

<%= link_to 'New Activity log', new_activity_log_path %>
