<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <h1><%= current_user.Name %>'s Activity Logs</h1>
<% end %>

  <table class='show-for-small-up'>
    <caption><%= Date.today.to_s %></caption>
    <thead>
      <tr>
        <th>Log Window</th>
        <th>Activity</th>
        <th>Mood Rating</th>
      </tr>
    </thead>

    <tbody>
      <% for i in current_user.NormalWake..(current_user.NormalSleep + 12) %>
          <tr>
            <td><%= i%>:00 - <%= i+1%>:00</td>
            <td><input type='text_area' /></td>
            <td><input type='number_field' /></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'New Activity log', new_activity_log_path %>
