<p id="notice"><%= notice %></p>



<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zip</th>
      <th>Age</th>
      <th>Email</th>
      <th>Time you normally wake up</th>
      <th>Time you normally go to sleep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.Name %></td>
        <td><%= user.Zip %></td>
        <td><%= user.Age %></td>
        <td><%= user.email %></td>
        <td><%= user.NormalWake %></td>
        <td><%= user.NormalSleep %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
!-->
  <% @users.each do |user| %>
<div class="row">

  <div class="text-center">
      <h1>Hi <%= user.Name %></h1>
  </div>


</div>

<br>
<div class="row">
  <div class="large-12 columns">
      <h4>Here is some basic info on your account</h4>
  </div>
</div>
<br>
<br>
<br>

<div class="row">
  <h5>
  <div class="small-3 columns ">Email</div>
  <div class="small-9 columns">:      <%= user.email %></div>
  </h5>
</div>

<div class="row">
    <h5>
  <div class="small-3 columns">Age</div>
  <div class="small-9 columns">:      <%=user.Age %></div>
</h5>
</div>


<div class="row">
    <h5>
  <div class="small-3 columns">Zip</div>
  <div class="small-9 columns">:      <%= user.Zip %></div>
    </h5>
</div>


<div class="row">
    <h5>
  <div class="small-3 columns">Usual time you wake up</div>
  <div class="small-9 columns">:      <%=user.NormalWake %></div>
    </h5>
</div>



<div class="row">
    <h5>
  <div class="small-3 columns">Usual time you sleep</div>
  <div class="small-9 columns">:      <%=  user.NormalSleep %></div>
    </h5>
</div>
<br>
<br>
<br>
<div class="row">
<%= button_to "Edit Account Information", edit_user_path(user), :class => "button", :method => :get  %>
</div>

<div class="row">
<%= button_to "Delete Account", user, :class => "button alert", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<% end %>
<br>
