<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ocelot</title>


    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "scaffolds.scss" %>
    <%= stylesheet_link_tag    "thought_records.scss" %>
    <%= stylesheet_link_tag    "activity_logs.scss" %>
    <%= stylesheet_link_tag    "users.scss" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">


    <%= render "layouts/header_nav" %>



    <section class="main-section">
      <div class="row frosty">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

  </body>
</html>
